<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xmlns:p="http://www.springframework.org/schema/p"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
         
		  <!--         Inject Primitive Data Type - Method - 2 => Value as Attribute  -->
		  <bean class="com.aavej_12182.student" name="studBean1">
		         <property name="roll" value="1" />
		         <property name="name" value="TYBCS" />
		         <property name="addr" value="Baramati" />
		 </bean>
         
          <bean class="com.aavej_12182.student" name="studBean2">
		         <property name="roll" value="2" />
		         <property name="name" value="SYBCS" />
		         <property name="addr" value="PHALTAN" />
		 </bean>
</beans>